:root {

    --clr-primary-400: hsl(234, 49%, 42%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 98%);
    --clr-neutral-300: hsl(264, 10%, 90%);
    --clr-neutral-400: hsl(0, 0%, 31%);
    
    --clr-accent-400: hsl(170, 85%, 39%);
    --clr-accent-500: hsl(181, 60%, 16%);

    --ff-primary: 'Roboto', sans-serif;

    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;

    --fs-900: 3rem; 
    --fs-800: 2.5rem;
    --fs-700: 2rem;
    --fs-600: 1.5625rem;
    --fs-500: 1.3125rem;
    --fs-400: 1.125rem;
    --fs-base: 1rem;
    --fs-300: .875rem;
}